<%- include("header") -%>

<div class="box" id="heading">
  <h1><%= listName %></h1>
</div>

<div class="box">
  <%newListItems.forEach(function(item){%>
  <form method="post" action="/delete">
    <div class="item">
      <input type="checkbox" onClick="this.form.submit()" name="checkbox" value=<%=item._id%> />
      <p><%= item.name %></p>
    </div>
    <input name="listName" value=<%=listName%> type="hidden"></input>
  </form>
  <%});%>
  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off" />
    <button type="submit" name="list" value=<%=listName%>>+</button>
  </form>
</div>

<%- include("footer") -%>